// Fonts
$font-sm: 0.75rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xlg: 2rem;
$font-logo: 2.5rem;

// Colors
$color-green: #27ae60;
$color-white: #fff;
$color-black: #192a56;
$color-light: #666;

// Box-Shadow
$box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

// Transitions

$transition: all 0.3s ease;
